* {
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    min-width: 320px;
}

h1 {
    font-size: 4.3rem;
    line-height: 1.57;
    color: white;
    font-weight: 900;
}

h3 {
    font-size: 0.875rem;
    line-height: 1.2;
    color: #fa1a1a;
    font-weight: bold;
    margin-bottom: 0.8125rem;
}

h4 {
    font-size: 0.75rem;
    line-height: 1.8;
    color: #707070;
    font-weight: bold;
}

p {
    font-size: 0.75rem;
    line-height: 1.83;
    color: #707070;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #e8b3b3;
    letter-spacing: 0.2rem;
    font-size: 0.625rem;
    font-weight: 500;
}

header {
    width: 100%;
    height: 100vh;
    background: center no-repeat url(img/carnival.jpg);
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .70);
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 28vh;
}

.hero-btn {
    padding: 1.15rem 2.5rem;
    font-size: 1rem;
    font-weight: bold;
    margin-top: .5rem;
    letter-spacing: 0.1625rem;
    color: white;
    background-color: #d54040;
    border: none;
    border-radius: .35rem;
}

.scroll-icon {
    width: 5.5rem;
    margin-top: 30vh;
}

section {
    width: 100%;
    background-color: #fffdfd;
    display: grid;
    justify-items: center;
}

.stories-feed {
    width: 85%;
    align-content: space-between;
    flex-wrap: wrap;
    margin-top: 1.875rem;
    margin-bottom: 4rem;
}

.story {
    display: grid;
    grid-template-rows: 2.5rem 2.5rem auto;
    grid-template-columns: 1fr 5rem 1fr;
    margin-top: 1.5rem;
}

.profile-img {
    grid-row: 1/span 2;
    grid-column: 2;
    z-index: 1;
}

.profile-img img {
    width: 5.0625rem;
    height: 5.0625rem;
}

.content {
    grid-row: 2/span 2;
    grid-column: 1/span 3;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 3.5rem 0.93rem 1.125rem 0.93rem;
    border: 0.1px solid #fa1a1a;
    border-radius: 0.35rem;
    background-color: white;
    box-shadow: 0 40px 30px rgba(213, 64, 64, .06);
}

.content p {
    margin-bottom: 1.5rem;
}

.content-extra {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-extra img {
    width: 1.0625em;
    height: 1em;
    margin-right: 0.5rem;
}

.content-extra div {
    display: flex;
    align-items: center;
}





/**---------------------- Breakpoint 640px -----------------------**/


@media (min-width: 640px) {
    

    html {
        font-size: 1.25em;
    }

    h1 {
        font-size: 5.25em;
    }

    
    .hero {
        padding-top: 25vh;
    }

    .hero-btn {
        font-weight: bold;
        padding: 1.125rem 2.75rem;
        font-size: 1.35rem;
        margin-top: 1rem;
    }
    
    .scroll-icon {
        width: 5.5rem;
        margin-top: 30vh;
    }

    .stories-feed {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 2.85rem;
        margin-bottom: 6.25rem;
    }

    .story {
        flex-basis: 48%;
        grid-template-rows: 2.85rem 2.85rem auto;
        grid-template-columns: 1fr 5.7rem 1fr;
        margin-top: 2rem;
    }

    .profile-img img {
        width: 100%;
        height: 100%;
    }

    .content {
        padding: 3.5rem 0.93rem 1.125rem 0.93rem;
        border-radius: 0.5rem;
        box-shadow: 0 40px 30px rgba(213, 64, 64, .06);
    }

    .content-extra img {
        width: 1em;
        margin-right: 0.5rem;
    }
}



/**---------------------- Breakpoint 980px -----------------------**/


@media (min-width: 980px) {

    html, body {
        font-size: 1.55em;
    }
    
    h1 {
        font-size: 3.25em;
    }

    .hero {
        padding-top: 25vh;
    }
    
    .hero-btn {
        font-weight: bold;
        padding: 1rem 3.25rem;
        margin-top: 1rem;
        border-radius: .5rem;
    }
    
    .scroll-icon {
        width: 5.5rem;
        margin-top: 35vh;
    }
    
    .stories-feed {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 3.25rem;
        margin-bottom: 6.25rem;
    }

    .story {
        flex-basis: 48%;
        grid-template-rows: 3.4rem 3.4rem auto;
        grid-template-columns: 1fr 6.8rem 1fr;
        margin-top: 3rem;
    }

    .profile-img img {
        width: 90%;
        height: 90%;
    }

    .content {
        padding: 3.5rem 0.93rem 1.125rem 0.93rem;
        border-radius: 0.5rem;
        box-shadow: 0 40px 30px rgba(213, 64, 64, .06);
    }

    .content-extra img {
        width: 1em;
        margin-right: 0.5rem;
    }
}


/**---------------------- Breakpoint 1280px -----------------------**/


@media (min-width: 1280px) {

    html, body {
        font-size: 1.125em;
    }
    
    h1 {
        font-size: 9.75rem;
        line-height: 1.57;
        color: white;
        font-weight: 900;
    }
    
    h3 {
        font-size: 1.5rem;
        line-height: 1.2;
        color: #fa1a1a;
        font-weight: bold;
    }
    
    h4 {
        font-size: 1.25rem;
        line-height: 1.8;
        color: #707070;
        font-weight: bold;
    }
    
    p {
        font-size: 0.8rem;
        line-height: 1.5;
        color: #707070;
        font-weight: normal;
    }
    
    a {
        text-decoration: none;
        color: #e8b3b3;
        letter-spacing: 0.2rem;
        font-size: 0.875rem;
        font-weight: 500;
    }
    

    .hero {
        padding-top: 25vh;
    }
    
    .hero-btn {
        font-size: 1.625rem;
        font-weight: bold;
        padding: 1.625rem 4.5rem;
        margin-top: 1rem;
        border-radius: .5rem;
    }
    
    .scroll-icon {
        width: 7.5rem;
        margin-top: 30vh;
    }
    
    .stories-feed {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 3.25rem;
        margin-bottom: 6.25rem;
    }

    .story {
        flex-basis: 30%;
        grid-template-rows: 94px 94px auto;
        grid-template-columns: 1fr 188px 1fr;
        margin-top: 3rem;
    }

    .profile-img img {
        width: 100%;
        height: 100%;
    }

    .content {
        padding: 7rem 2.75rem 1.5rem 2.75rem;
        border-radius: 0.5rem;
        box-shadow: 0 40px 30px rgba(213, 64, 64, .06);
    }
}